---
import Layout from "@/layouts/Layout.astro"

import AboutMe from "@/components/AboutMe.astro"
import Briefcase from "@/components/icons/Briefcase.astro"
import CodeIcon from "@/components/icons/Code.astro"
import Experience from "@/components/Experience.astro"
import ProfileCheck from "@/components/icons/ProfileCheck.astro"
import Projects from "@/components/Projects.astro"
import SectionContainer from "@/components/SectionContainer.astro"
import Hero from "@/components/Hero.astro"
import TitleSection from "@/components/TitleSection.astro"
// import Precios from "@/components/Precios.astro"
---

<Layout
  title="Facilito - Soluciones fáciles y confiables: tú confías, nosotros resolvemos"
  description="Facilito es un equipo de expertos en tareas académicas y tecnológicas, listos para ayudarte a resolver tus problemas. Desde tareas escolares hasta proyectos complejos, tenemos la solución perfecta para ti."
>
  <main class="px-4">
    <SectionContainer class="py-16 md:py-36">
      <Hero>
      </slot>
    </Hero>
    </SectionContainer>
    <div class="space-y-24">
    <SectionContainer id="experiencia">
      <TitleSection>
        <Briefcase class="size-8" />
        Servicios
      </TitleSection>
      <p class="text-gray-600 dark:text-gray-300">
        En Facilito ofrecemos los siguientes servicios:
      </p>
      <Experience />
    </SectionContainer>

    <!-- <SectionContainer id="proyectos">
      <TitleSection>
        <CodeIcon class="size-7" />
        Proyectos
      </TitleSection>
      <Projects />
    </SectionContainer>
    -->
    <SectionContainer id="sobre-mi">
      <TitleSection>
        <ProfileCheck class="size-8" />
        Sobre nosotros
      </TitleSection>
      <AboutMe />
    </SectionContainer>

  <!-- <SectionContainer id="precios">
    <TitleSection>
      <ProfileCheck class="size-8" />
      Precios
    </TitleSection>
    <Precios />
  </SectionContainer> -->
  </div>
  </main>
</Layout>
