---
import { date } from "astro/zod"
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCE = [
  {
    date: "",
    title: "Tutorías y explicaciones",
    company: "",
    description:
      "Ayuda personalizada en temas académicos.",
    link: "mailto:yadsti@gmail.com",
  },
  {
    date: "",
    title: "Elaboración de tareas y trabajos",
    company: "",
    description:
      "Apoyo con obligaciones escolares y universitarias.",
    link: "mailto:yadsti@gmail.com",
  },
  {
    date: "",
    title: "Elaboración y preparación de exposiciones",
    company: "",
    description:
      "Apoyo en la preparación de exposiciones y presentaciones.",
    link: "mailto:yadsti@gmail.com",
  },
  {
    date: "",
    title: "Investigaciones",
    company: "",
    description: "Apoyo con proyectos de investigación o tesis.",
    link: "mailto:yadsti@gmail.com",
  },
  {
    date: "",
    title: "Entre otros servicios",
    company: "",
    description:
      "Para obtener más información, no dudes en contactarnos.",
    link: "mailto:yadsti@gmail.com",
  },
]
---

<ol class="relative mt-16">
  {
    EXPERIENCE.map((experience) => (
      <li class="">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
