---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCE = [
  {
    date: "Actualmente...",
    title: "Estudiante Tecnología en Gestión de Redes de Datos",
    company: "Servicio Nacional de Aprendizaje SENA",
    description:
      "Estudiante de Tecnología en Gestión de Redes de Datos. Aprendiendo sobre redes, seguridad informática y administración de sistemas.",
    link: "https://www.sena.edu.co",
  },
  {
    date: "2021 - Actualmente...",
    title: "Estudiante de Ingeniería Telecomunicaciones e Informática",
    company: "Universidad Tecnológica del Chocó Diego Luis Córdoba",
    description:
      "Estudiante de Ingeniería en Telecomunicaciones e Informática. Aprendiendo sobre programación, redes y sistemas.",
    link: "https://twitch.tv/midudev",
  },
]
---

<ol class="relative mt-16">
  {
    EXPERIENCE.map((experience) => (
      <li class="">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
