---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCE = [
  {
    date: "Actualmente...",
    title: "Ayudas academicas",
    company: "Facilito",
    description:
      "Ayudas académicas en diferentes áreas de conocimiento. Desde tareas escolares hasta proyectos complejos, tenemos la solución perfecta para ti.",
    link: "mailto:yadsti@gmail.com",
  },
  {
    date: "2021 - Actualmente...",
    title: "Tutorias personalizadas",
    company: "Facilito",
    description:
      "Estudiante de Ingeniería en Telecomunicaciones e Informática. Aprendiendo sobre programación, redes y sistemas.",
    link: "https://www.utch.edu.co",
  },
  {
    date: "",
    title: "Tutorias personalizadas",
    company: "",
    description:
      "Tutorias personzalizadas en diferentes areas de conocimiento.",
    link: "https://www.utch.edu.co",
  },
]
---

<ol class="relative mt-16">
  {
    EXPERIENCE.map((experience) => (
      <li class="">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
